In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import sqlite3
from sqlite3 import Error

In [3]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)
 
    return conn
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    cur.execute("SELECT * FROM tasks")
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
 
 
def select_task_by_priority(conn, priority):
    """
    Query tasks by priority
    :param conn: the Connection object
    :param priority:
    :return:
    """
    cur = conn.cursor()
    cur.execute("SELECT * FROM tasks WHERE priority=?", (priority,))
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
 
 
def main():
    database = r"C:\sqlite\db\pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn:
        print("1. Query task by priority:")
        select_task_by_priority(conn, 1)
 
        print("2. Query all tasks")
        select_all_tasks(conn)

In [4]:
conn = create_connection('FPA_FOD_20170508.sqlite')

In [5]:
cur = conn.cursor()
cur.execute('SELECT * FROM Fires WHERE FIRE_YEAR > 2010')
rows = cur.fetchall()

In [6]:
columns = ['OBJECTID','FOD_ID','FPA_ID','SOURCE_SYSTEM_TYPE','SOURCE_SYSTEM','NWCG_REPORTING_AGENCY',
'NWCG_REPORTING_UNIT_ID',
'NWCG_REPORTING_UNIT_NAME',
'SOURCE_REPORTING_UNIT',
'SOURCE_REPORTING_UNIT_NAME',
'LOCAL_FIRE_REPORT_ID',
'LOCAL_INCIDENT_ID','FIRE_CODE',
'FIRE_NAME',
'ICS_209_INCIDENT_NUMBER',
'ICS_209_NAME',
'MTBS_ID',
'MTBS_FIRE_NAME',
'COMPLEX_NAME',
'FIRE_YEAR',
'DISCOVERY_DATE','DISCOVERY_DOY','DISCOVERY_TIME','STAT_CAUSE_CODE','STAT_CAUSE_DESCR','CONT_DATE','CONT_DOY','CONT_TIME',
'FIRE_SIZE','FIRE_SIZE_CLASS','LATITUDE','LONGITUDE','OWNER_CODE','OWNER_DESCR','STATE','COUNTY','FIPS_CODE','FIPS_NAME','Shape']

In [7]:
t = pd.DataFrame(rows, columns = columns)
t.head()

,OBJECTID,FOD_ID,FPA_ID,SOURCE_SYSTEM_TYPE,SOURCE_SYSTEM,NWCG_REPORTING_AGENCY,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,SOURCE_REPORTING_UNIT_NAME,...,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_CODE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME,Shape
0,1453965,20020059,FS-1496314,FED,FS-FIRESTAT,FS,USAKCGF,Chugach National Forest,1004,Chugach National Forest,...,A,60.246389,-149.349444,13.0,STATE OR PRIVATE,AK,None,None,None,b'\x00\x01\xad\x10\x00\x0042\x1b\xa6.\xabb\xc0...
1,1453966,20020060,FS-1496318,FED,FS-FIRESTAT,FS,USAKCGF,Chugach National Forest,1004,Chugach National Forest,...,A,60.475833,-149.752500,13.0,STATE OR PRIVATE,AK,None,None,None,b'\x00\x01\xad\x10\x00\x00\xadG\xe1z\x14\xb8b\...
2,1453967,20020061,FS-1496319,FED,FS-FIRESTAT,FS,USAKCGF,Chugach National Forest,1004,Chugach National Forest,...,A,60.514444,-149.467500,13.0,STATE OR PRIVATE,AK,None,None,None,b'\x00\x01\xad\x10\x00\x00(\\\x8f\xc2\xf5\xaeb...
3,1453968,20020062,FS-1496321,FED,FS-FIRESTAT,FS,USAKCGF,Chugach National Forest,1004,Chugach National Forest,...,A,60.399722,-149.360833,13.0,STATE OR PRIVATE,AK,None,None,None,b'\x00\x01\xad\x10\x00\x00\x03\xf5V\xf2\x8b\xa...
4,1453969,20020063,FS-1496322,FED,FS-FIRESTAT,FS,USAKCGF,Chugach National Forest,1004,Chugach National Forest,...,A,60.467500,-149.973056,5.0,USFS,AK,None,None,None,b'\x00\x01\xad\x10\x00\x00\x82\xeciE#\xbfb\xc0...

In [8]:
t.shape

(370345, 39)

In [12]:
t['DISCOVERY_DATE']

0         2455641.5
1         2455666.5
2         2455692.5
3         2455694.5
4         2455759.5
            ...
370340    2457291.5
370341    2457300.5
370342    2457144.5
370343    2457309.5
370344    2457095.5
Name: DISCOVERY_DATE, Length: 370345, dtype: float64

In [9]:
t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370345 entries, 0 to 370344
Data columns (total 39 columns):
OBJECTID                      370345 non-null int64
FOD_ID                        370345 non-null int64
FPA_ID                        370345 non-null object
SOURCE_SYSTEM_TYPE            370345 non-null object
SOURCE_SYSTEM                 370345 non-null object
NWCG_REPORTING_AGENCY         370345 non-null object
NWCG_REPORTING_UNIT_ID        370345 non-null object
NWCG_REPORTING_UNIT_NAME      370345 non-null object
SOURCE_REPORTING_UNIT         370345 non-null object
SOURCE_REPORTING_UNIT_NAME    370345 non-null object
LOCAL_FIRE_REPORT_ID          71354 non-null object
LOCAL_INCIDENT_ID             315517 non-null object
FIRE_CODE                     80263 non-null object
FIRE_NAME                     292456 non-null object
ICS_209_INCIDENT_NUMBER       8144 non-null object
ICS_209_NAME                  8144 non-null object
MTBS_ID                       2651 non-null object
MTBS_FIRE_NAME                2651 non-null object
COMPLEX_NAME                  1595 non-null object
FIRE_YEAR                     370345 non-null int64
DISCOVERY_DATE                370345 non-null float64
DISCOVERY_DOY                 370345 non-null int64
DISCOVERY_TIME                292326 non-null object
STAT_CAUSE_CODE               370345 non-null float64
STAT_CAUSE_DESCR              370345 non-null object
CONT_DATE                     283416 non-null float64
CONT_DOY                      283416 non-null float64
CONT_TIME                     258369 non-null object
FIRE_SIZE                     370345 non-null float64
FIRE_SIZE_CLASS               370345 non-null object
LATITUDE                      370345 non-null float64
LONGITUDE                     370345 non-null float64
OWNER_CODE                    370345 non-null float64
OWNER_DESCR                   370345 non-null object
STATE                         370345 non-null object
COUNTY                        318200 non-null object
FIPS_CODE                     318200 non-null object
FIPS_NAME                     318200 non-null object
Shape                         370345 non-null object
dtypes: float64(8), int64(4), object(27)
memory usage: 110.2+ MB

In [10]:
t[pd.notnull(t['CONT_DATE'])].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 283416 entries, 0 to 370340
Data columns (total 39 columns):
OBJECTID                      283416 non-null int64
FOD_ID                        283416 non-null int64
FPA_ID                        283416 non-null object
SOURCE_SYSTEM_TYPE            283416 non-null object
SOURCE_SYSTEM                 283416 non-null object
NWCG_REPORTING_AGENCY         283416 non-null object
NWCG_REPORTING_UNIT_ID        283416 non-null object
NWCG_REPORTING_UNIT_NAME      283416 non-null object
SOURCE_REPORTING_UNIT         283416 non-null object
SOURCE_REPORTING_UNIT_NAME    283416 non-null object
LOCAL_FIRE_REPORT_ID          67813 non-null object
LOCAL_INCIDENT_ID             233452 non-null object
FIRE_CODE                     77812 non-null object
FIRE_NAME                     225794 non-null object
ICS_209_INCIDENT_NUMBER       7371 non-null object
ICS_209_NAME                  7371 non-null object
MTBS_ID                       2415 non-null object
MTBS_FIRE_NAME                2415 non-null object
COMPLEX_NAME                  1303 non-null object
FIRE_YEAR                     283416 non-null int64
DISCOVERY_DATE                283416 non-null float64
DISCOVERY_DOY                 283416 non-null int64
DISCOVERY_TIME                264847 non-null object
STAT_CAUSE_CODE               283416 non-null float64
STAT_CAUSE_DESCR              283416 non-null object
CONT_DATE                     283416 non-null float64
CONT_DOY                      283416 non-null float64
CONT_TIME                     257998 non-null object
FIRE_SIZE                     283416 non-null float64
FIRE_SIZE_CLASS               283416 non-null object
LATITUDE                      283416 non-null float64
LONGITUDE                     283416 non-null float64
OWNER_CODE                    283416 non-null float64
OWNER_DESCR                   283416 non-null object
STATE                         283416 non-null object
COUNTY                        235819 non-null object
FIPS_CODE                     235819 non-null object
FIPS_NAME                     235819 non-null object
Shape                         283416 non-null object
dtypes: float64(8), int64(4), object(27)
memory usage: 86.5+ MB

In [4]:
conn = create_connection('FPA_FOD_20170508.sqlite')
cur = conn.cursor()
cur.execute('SELECT OBJECTID, FOD_ID, FPA_ID, SOURCE_SYSTEM_TYPE, SOURCE_SYSTEM, NWCG_REPORTING_AGENCY, NWCG_REPORTING_UNIT_ID, NWCG_REPORTING_UNIT_NAME, SOURCE_REPORTING_UNIT, SOURCE_REPORTING_UNIT_NAME, FIRE_YEAR, DISCOVERY_DATE, DISCOVERY_DOY, STAT_CAUSE_CODE, STAT_CAUSE_DESCR, FIRE_SIZE, FIRE_SIZE_CLASS, LATITUDE, LONGITUDE, OWNER_CODE, OWNER_DESCR, STATE FROM Fires')
rows = cur.fetchall()

NameError: name 'cur' is not defined

In [5]:
clean_col = ['OBJECTID', 'FOD_ID', 'FPA_ID', 'SOURCE_SYSTEM_TYPE', 'SOURCE_SYSTEM', 'NWCG_REPORTING_AGENCY', 'NWCG_REPORTING_UNIT_ID', 'NWCG_REPORTING_UNIT_NAME', 'SOURCE_REPORTING_UNIT', 'SOURCE_REPORTING_UNIT_NAME', 'FIRE_YEAR', 'DISCOVERY_DATE', 'DISCOVERY_DOY', 'STAT_CAUSE_CODE', 'STAT_CAUSE_DESCR', 'FIRE_SIZE', 'FIRE_SIZE_CLASS', 'LATITUDE', 'LONGITUDE', 'OWNER_CODE', 'OWNER_DESCR', 'STATE']

In [ ]:
t = pd.DataFrame(rows, columns = clean_col)
t.head()

In [ ]:
t.shape

In [ ]:
t['FIRE_YEAR'].value_counts() #Plot the frequency of fires by year

In [ ]:
t.groupby('FIRE_YEAR')['FIRE_SIZE'].sum() #Plot the size of fires by year

In [ ]:
t['DISCOVERY_DATE'].max() #Not Sure what Date is

In [ ]:
t['DISCOVERY_DOY'].iloc[:10]

In [ ]:
t.info() #May have to convert a lot of these data types

In [ ]:
t['DISCOVERY_DOY'].plot.kde() #Could Break down by state

In [ ]:
t['DISCOVERY_DATE'].plot.kde()

In [ ]:
t.groupby('STAT_CAUSE_CODE')['STAT_CAUSE_DESCR'].value_counts()

In [ ]:
t[t['STAT_CAUSE_DESCR'] == 'Fireworks']['DISCOVERY_DOY'].plot.kde()

In [ ]:
t[t['STAT_CAUSE_DESCR'] == 'Arson']['DISCOVERY_DOY'].plot.kde()

In [ ]:
t[t['STAT_CAUSE_DESCR'] == 'Lightning']['DISCOVERY_DOY'].plot.kde()

In [ ]:
t[t['STAT_CAUSE_DESCR'] == 'Children']['DISCOVERY_DOY'].plot.kde()

In [ ]:
pd.to_datetime(201431, format = '%Y%d')

In [ ]:
t['LONGITUDE'].iloc[0]
lat

In [ ]:
from pyproj import Proj, transform
p1 = Proj(init='epsg:4269')
p2 = Proj(init = 'epsg:4326')
lat = t['LATITUDE'].iloc[0]
lon = t['LONGITUDE'].iloc[0]
t_lat, t_lon = transform(p1, p2, lat, lon)

In [ ]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent='Sean')

# lat = t['LATITUDE'].iloc[0]
# lon = t['LONGITUDE'].iloc[0]

location = geolocator.reverse('85, 86')
print(location.address)

In [ ]:
t[[]]
cause = t['STAT_CAUSE_DESCR']